
{{#if type === 'discrete' }}
  <ul class='toggle-list'>
  {{#uniqValues:valNdx}}
    <li>
      <input type='checkbox' checked={{filters[colNdx].toggled[.]}} /> {{ . }}
    </li>
  {{/uniqValues}}
  </ul>

{{else}}
  <div class='filter-text'>
    <input type='text' value={{ filters[colNdx].gt }} />
    to
    <input type='text' value={{ filters[colNdx].lt }} />
  </div>
  <RangeSlider
    width=160
    lowerBound={{cols[colNdx].min}}
    upperBound={{cols[colNdx].max}}
    lower={{filters[colNdx].gt}}
    upper={{filters[colNdx].lt}}
    step={{ (cols[colNdx].max / cols[colNdx].min) / 100}} />
{{/if}}
