<div class='dc-col-header' style='width:{{width}}px;' {{#if isDiscrete}}discrete{{/if}}>
  <h4>
    {{label}}
    <button class='col-action' on-click='sort-by-col:{{index}},false'>
      {{#if isDiscrete || index === -1}}
        <i class='fa fa-sort-alpha-asc'></i>
      {{else}}
        <i class='fa fa-sort-amount-asc'></i>
      {{/if}}
    </button>
    <button class='col-action' on-click='sort-by-col:{{index}},true'>
      {{#if isDiscrete }}
        <i class='fa fa-sort-alpha-desc'></i>
      {{else}}
        <i class='fa fa-sort-amount-desc'></i>
      {{/if}}
    </button>
    {{#if !isDiscrete }}
      {{#if scatterPlotNdx === index}}
        <button class='col-action' on-click='set("scatterPlotNdx",-1)'>
          <i class='fa fa-times-circle-o'></i>
        </button>
      {{else}}
        <button class='col-action' on-click='show-scatter-plots:{{index}}'>
          <i class='fa fa-circle-o'></i>
        </button>
      {{/if}}
    {{/if}}
  </h4>


  <!-- filters -->
  <div class='dc-filter' {{#if !filtersOpen }}hidden{{/if}}>
    {{#if index === -1}}
      <button class='dc-btn dc-warn' on-click='reset-filters'>
        <i class='fa fa-close'></i>
        Reset filters
      </button>

    {{elseif isDiscrete }}
      <button on-click='set("filter.toggled.*", true)' class='col-action'>All</button> / <button on-click='set("filter.toggled.*", false)' class='col-action'>None</button>
      <ul class='scroll-list'>
      {{#uniqValues:valNdx}}
        <li>
          <input type='checkbox' checked={{filter.toggled[.]}} /> {{ . }}
        </li>
      {{/uniqValues}}
      </ul>

    {{else}}
      <div class='filter-text'>
        <input type='text' value={{ filter.gt }} />
        to
        <input type='text' value={{ filter.lt }} />
      </div>
      <RangeSlider
        width={{ width}}
        lowerBound={{min}}
        upperBound={{max}}
        lower={{filter.gt}}
        upper={{filter.lt}}
        step={{ (max / min) / 100}} />
    {{/if}}
  </div>

  <!-- summary stats -->
  <div {{#if !statsOpen }}hidden{{/if}}>
    {{#if isDiscrete }}
      {{#if false }}
      <ul class='scroll-list'>
      {{#uniqValues:valNdx}}
        <li>
          {{ label }}
        </li>
      {{/uniqValues}}
      </ul>
      {{/if}}
    {{else}}
      <ul class='stat-list'>
        <li>Min: <b>{{ min.toFixed(2) }}</b></li>
        <li>Max: <b>{{ max.toFixed(2) }}</b></li>
        <li>Mean: <b>{{ mean.toFixed(2) }}</b></li>
        <li>Med: <b>{{ median.toFixed(2) }}</b></li>
        <li>Std Dev: <b>{{ sd.toFixed(2) }}</b></li>
      </ul>
    {{/if}}
  </div>



  <!-- svg, canvas elements -->
  {{#if isDiscrete}}
    <div class='disc-value'>{{hoverValue}}</div>
  {{else}}
  <canvas class='dc-col-scatter' width={{width}} height={{scatterHeight}} {{#if !scatterOpen}}hidden{{/if}}></canvas>
    <svg class='dc-ch-axis dc-histogram' height='{{histogramsOpen ? 78 : 22}}' width='{{width}}'>
        <!-- histograms -->
        {{#if !isDiscrete }}
        <g {{#if !histogramsOpen }}hidden{{/if}}>
          {{#histogramBarData}}
            <rect x={{x0}}
                  y={{histogramHeight-height}}
                  width={{x1-x0}}
                  height={{height}}
                  on-mouseover='hover-histogram:{{index}},{{lower}},{{upper}}'
                  on-click='focus-histogram:{{index}},{{lower}},{{upper}}' />
          {{/histogramBarData}}
        </g>
        {{/if}}

        <!-- axis -->
        <g class='ch-axis-g' transform='translate(0,{{histogramsOpen ? 80 : 24}})'></g>

    </svg>
  {{/if}}

</div>
