<div class='dc-header' {{#if filtersOpen}}filtering{{/if}} {{#if statsOpen}}stats-open{{/if}}>
  <div>
    <label>
      <input type='checkbox' checked='{{focusOnHover}}'>Focus On Hover
    </label>
    <label>
      <input type='checkbox' checked='{{hideUnfocused}}'>Hide Unfocused
    </label>
    <button on-click='toggle("filtersOpen")'>
      {{#if filtersOpen}}Hide Filters{{else}}Show Filters{{/if}}
    </button>
    <button on-click='toggle("statsOpen")'>
      {{#if statsOpen}}Hide{{else}}Show{{/if}} Summary Stats
    </button>
    <button>Histograms</button>
    <button on-click='focus-all'>Focus All</button>
    <button on-click='unfocus-all'>Unfocus All</button>

    <label>Group By: </label>
    <select value={{groupByColNdx}}>
      <option value='-1'>None</option>
      {{#discreteCols}}
        <option value={{ndx}}>{{label}}</option>
      {{/discreteCols}}
    </select>

    <label>Color By: </label>
    <select value={{colorByColNdx}}>
      <option value='-1'>None</option>
      {{#discreteCols}}
        <option value={{ndx}}>{{label}}</option>
      {{/discreteCols}}
    </select>
  </div>

<!--
  {{#if scatterPlotNdx !== -1}}
    <ul class='dc-col-filters'>
      <li>Scatter Plots for {{ cols[scatterPlotNdx].label }}</li>
      {{#cols:colNdx}}
      <li>
        <ScatterPlot
          xNdx=4
          yNdx=5
          height=160
          width=160 />
      </li>
      {{/cols}}
    </ul>
  {{/if}}
-->


  <!-- Column filters: max/min text inputs + slider (continous) or checkboxes (discrete) -->
  {{#if filtersOpen}}
    <ul class='dc-col-filters'>
      <li>Filters:</li>
      {{#cols:colNdx}}
        <li {{#if type==='discrete'}}discrete{{/if}}>{{>colFilter}}</li>
      {{/cols}}
    </ul>
  {{/if}}

  <!-- Column summary statistics: mean, median, std dev, min, max, etc... -->
  {{#if statsOpen}}
    <ul class='dc-col-stats'>
      <li>Summary Stats</li>
      {{#cols:colNdx}}
        <li {{#if type==='discrete'}}discrete{{/if}}>{{>summaryStats}}</li>
      {{/cols}}
    </ul>
  {{/if}}

  <!-- Column headers: label + controls + axis -->
  <ul class='dc-col-headers'>
    <li>
      <ColHeader label="Row Label"
        index={{-1}}
        hoverValue={{ hoverRow._rowLabel }} /></li>
    {{#cols:colNdx}}
      <li><ColHeader
        isDiscrete={{ type=='discrete' }}
        min={{ cols[colNdx].min }}
        max={{ cols[colNdx].max }}
        label={{ label }}
        index={{ colNdx }}
        hoverValue={{ hoverRow._values[colNdx] }} /></li>
    {{/cols}}
  </ul>
</div>
<div class='dc-table'></div>
