<div class='dc-header'>
  <div>
    <label>
      <input type='checkbox' checked='{{focusOnHover}}'>Focus On Hover
    </label>
    <label>
      <input type='checkbox' checked='{{hideUnfocused}}'>Hide Unfocused
    </label>
    <button>Show Filters</button>
    <button>Summary Statistics</button>
    <button>Histograms</button>
    <button on-click='focus-all'>Focus All</button>
    <button on-click='unfocus-all'>Unfocus All</button>
  </div>
  <ul class='dc-col-headers'>
    <li><ColHeader label="Row Label" index={{-1}}/></li>
    {{#cols:colNdx}}
      <li><ColHeader
        isDiscrete={{ type=='discrete' }}
        min={{ cols[colNdx].min }}
        max={{ cols[colNdx].max }}
        label={{ label }}
        index={{ colNdx }}
        hoverValue={{ hoverValues[colNdx] }} /></li>
    {{/cols}}
  </ul>
</div>
<div class='dc-table'></div>
