<div class='range-slider'>
  <input
    class='upper'
    type='range'
    min={{lowerBound}}
    max={{upperBound}}
    step={{step}}
    value={{upper}}
    style='width:{{width}}px;' />
  <input
    class='lower'
    type='range'
    min={{lowerBound}}
    max={{upperBound}}
    step={{step}}
    value={{lower}}
    style='width:{{width}}px;' />
</div>
